body{
	margin: 0;
	padding: 0;
	font-family: Montserrat;
}

.backgr{
	background-image: url(images1/background_pic.png);
	background-position: center;
	background-size: cover;
	color: white;
}

.container{
	width: 1200px;
	margin: auto;
}

.elements{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 68px;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu ul li{
	display: inline-block;
	margin-right: 45px;
}

.menu ul li:last-child{
	margin-right: 0;
}

.text{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.text h3{
	font-weight: 700;
	font-size: 74px;
	margin: 0;
	margin-top: 130px;
}

.text p{
	font-weight: 400;
	font-size: 28px;
	margin: 0;
	margin-top: 27px;
}

button{
	border: none;
	background: #2091F9;
	border-radius: 35px;
	color: white;
	font-size: 20px;
	padding: 16px 58px;
	margin: 0;
	margin-top: 90px;
	margin-bottom: 54px;
}

.position{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.position h4{
	margin: 0;
	font-weight: 400;
	font-size: 48px;
	margin-top: 305px;
	margin-bottom: 27px;
}

.position p{
	display: inline-block;
	margin: 0;
	text-align: center;
	font-weight: 400;
	font-size: 28px;
}

.all_cards{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 58px;
	margin: 0;
	margin-top: 98px;
}

.card{
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 249px;
}

.card h5{
	margin: 0;
	font-weight: 700;
	font-size: 20px;
	height: 56px;
	text-align: center;
	margin-top: 28px;
}

.card p{
	font-weight: 400;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 132px;
}

video{
	width: 100%;
	height: 658px;
	border-radius: 44px;
}

.reverse{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pos1{
	display: flex;
	justify-content: space-between;
	margin-top: 345px;
}

.text1{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.text1 h5{
	font-weight: 400;
	font-size: 48px;
	margin: 0;
	margin-bottom: 27px;
}

.text1 p{
	font-weight: 400;
	font-size: 28px;
	margin: 0;
}

.pos1 img{
	width: 624px;
	height: 349px;
}

.for_email{
	display: flex;
	justify-content: space-between;
	margin-top: 234px;
}

.email_bold{
	margin: 0;
	font-weight: 700;
	font-size: 20px;
}

#email_thin{
	margin: 0;
	font-weight: 400;
	font-size: 18px;
}

#email_text{
	margin: 0;
	font-weight: 400;
	font-size: 48px;
	margin-top: 17px;
	margin-bottom: 34px;
}

.input_email input{
	background: #F4F4F4;
	border: 1px solid #E8E8E8;
	border-radius: 39px;
	padding: 19px 39px;
	font-weight: 400;
	font-size: 14px;
}

.all_clients{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 125px;
}

.clients{
	display: flex;
	flex-direction: row;
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	border-radius: 20px;
	padding: 50px;
	box-sizing: border-box;
	width: 453px;

}

form h5{
	margin: 0;
	font-weight: 700;
	font-size: 20px;
}

form input{
	width: 100%;
	font-weight: 400;
	font-size: 15px;
	margin-top: 45px;
	border-radius: 39px;
	border: none;
	background-color: #F5F5F5;
	padding: 20px;}

form textarea{
	resize: none;
	width: 100%;
	height: 193px;
	background-color: #F5F5F5;
	margin-top: 45px;
	padding: 20px;
	border: none;
	font-family: Montserrat;
}

.form_map{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 60px;
}

.pos{
	margin-left: 60px;
}

.contacts{
	display: flex;
	flex-direction: row;
	gap: 35px;
	margin-bottom: 70px;
	align-items: center;
}

.info{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info img{
	width: 25px;
	margin-bottom: 20px;
}

.info p{
	font-weight: 400;
	font-size: 16px;
}

iframe{
	width: 516px;
	height: 323px;
	margin-left: auto;
	margin-right: auto;
}

.app{
	display: flex;
	flex-direction: row;
	gap: 32px;
	margin-top: 74px;
	margin-left: 0;
}

.position-left{
	align-items: start !important;
}

.menu_img{
	display: none;
}

@media (max-width: 1202px){
	.container{
		width: 700px;
	}

	.backgr{
		background-image: url(images1/background_mobile.png);
		height: 100%;
	}

	.menu, .apps{
		display: none;
	}

	.menu_img{
		background-image: url(images1/menu.svg);
		background-repeat: no-repeat;
        height: 33px;
        width: 20px;
        margin-top: 30px;
	}

	.text h3{
		font-weight: 400;
		font-size: 48px;
		width: 500px;
	}

	.text p{
		width: 450px;
	}

	.position p{
		width: 600px;
	}

	.all_cards{
		flex-direction: column;
		margin-top: 82px;
	}

	video{
		height: 400px;
		margin-top: 30px;
	}

	.reverse{
		flex-direction: column-reverse;
	}

	.pos1{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.text1{
		align-items: center;
	}

	.for_email{
		flex-direction: column;
		align-items: center;
	}

	.input_email{
		display: flex;
		flex-direction: column;
	}

	.input_email input, .input_email button{
		margin: 0;
		margin-bottom: 12px;
	}

	.email_bold:first-child{
		margin-top: 95px;
	}

	#email_thin{
		margin-bottom: 34px;
	}

	.clients:last-child{
		display: none;
	}

	.clients{
		flex-direction: column;
	}

}




@media (max-width: 842px){
	.container{
		width: 416px;
	}

	.backgr{
		background-image: url(images1/background_mobile.png);
		height: 100%;
	}

	.menu, .apps{
		display: none;
	}

	.menu_img{
		background-image: url(images1/menu.svg);
		background-repeat: no-repeat;
        height: 33px;
        width: 20px;
        margin-top: 30px;
	}

	.text h3{
		font-weight: 400;
		font-size: 48px;
		width: 356px;
	}

	.text p{
		width: 280px;
	}

	.position p{
		width: 281px;
	}

	.all_cards{
		flex-direction: column;
		margin-top: 82px;
	}

	video{
		height: 215px;
		margin-top: 30px;
	}

	.reverse{
		flex-direction: column-reverse;
	}

	.for_email img{
		width: 500px;
	}

	.pos1 img{
		width: 500px;
		height: 300px;
	}

}